header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px 25px;
  gap: 15px;
  flex-wrap: wrap;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  
}
nav a{
  text-decoration: none;
  color: white;
  font-weight: 800;
  }
header div{
display: flex;
gap: 10px;

  }
  .user-login{
    background-color: greenyellow;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .admin-login{
    background-color: orangered;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .my-button{
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 40vw;
    margin: 15px auto;
    padding: 20px;
    gap: 10px;
    border: 2px solid aquamarine;
    border-radius: 5px;

    
  }
  form input{
   
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    max-width: 100%;
  }
  form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }